@import "tailwindcss";

@theme {
  --animate-fade-in-out-toast: fade-in-out-toast 3s ease-out;

  @keyframes fade-in-out-toast {
    0% {
      opacity: 0;
      transform: translateX(10%);
    }
    15% {
      opacity: 1;
      transform: translateY(0);
    }
    85% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
